# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [15]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [5]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

NameError: name 'np' is not defined

**13.** Change the age in row 'f' to 1.5.

In [7]:
# YOUR CODE HERE
df.loc[['f'], ['age']] = 1.5

In [8]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [2]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

NameError: name 'df' is not defined

In [16]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

AssertionError:

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [17]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.233651  0.132663  0.100988
1 -0.183134 -0.173389  0.356522
2  0.242914 -0.286060  0.043147
3 -0.047274 -0.116548  0.163822
4 -0.137769 -0.029078  0.166847

In [18]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [ ]:
df.sum().idxmin()

In [ ]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [7]:
datadf = {
    1:[np.nan,2,np.nan,4,5],
    2:[np.nan,2,3,np.nan,5],
    3:[np.nan,2,np.nan,4,5],
    4:[1,np.nan,3,np.nan,np.nan],
    5:[1,2,np.nan,4,5],
    6:[1,np.nan,3,np.nan,np.nan],
    7:[1,2,3,4,5],
    8:[1,np.nan,3,np.nan,np.nan],
    9:[1,2,3,4,np.nan],
    10:[1,np.nan,3,4,5]}

df = pd.DataFrame(datadf)
df

NameError: name 'np' is not defined

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [16]:
# YOUR CODE HERE
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

NameError: name 'pd' is not defined

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345